<div class="login-container">
  <div class="login-box">

    <div class="tabs">
      <button [class.active]="!isSignup" (click)="isSignup = false">Login</button>
      <button [class.active]="isSignup" (click)="isSignup = true">Sign Up</button>
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>
    <div *ngIf="success" class="success">{{ success }}</div>

    <div *ngIf="!isSignup">
      <input type="email" placeholder="Email" [(ngModel)]="email">
      <input type="password" placeholder="Password" [(ngModel)]="password">
      <button (click)="onLogin()">Login</button>
    </div>

    <div *ngIf="isSignup">
      <input type="email" placeholder="Email" [(ngModel)]="email">
      <input type="password" placeholder="Password" [(ngModel)]="password">
      <button (click)="onSignup()">Create Account</button>
    </div>

  </div>
</div>